@import '../_variables';

aside {
  flex-shrink: 0;
  min-height: 100vh;
  position: relative;
  transition: 0.3s;

  &.opened {
    width: 250px;
  }

  &.closed {
    width: 66px;

    li {
      a {
        span {
          display: none;
        }

        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  li {
    .active {
      background: $color-hight-gray;
      font-weight: bold;
    }

    ul {
      display: none;

      li {
        padding-left: 20px;
      }
    }
    &.opened {
      ul {
        display: block;
      }
    }
  }
}

main {
  flex-grow: 1;
}
