<aside [ngClass]="{'opened': sidebarOpened, 'closed': !sidebarOpened}" class="bg-light-gray border-end right-aside">
  <div class="logo bg-white p-2 text-uppercase text-center m-3">
    {{sidebarOpened ? 'organization logo' : 'LG'}}
  </div>
  <nav>
    <ul class="nav flex-column">
      <li routerLinkActive="opened">
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['shedule']" routerLinkActive="active">
          <i class="material-icons me-2">format_list_bulleted</i>
          <span>Schedule</span>
        </a>
        <ul class="nav flex-column">
          <li>
            <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['shedule/fv']" routerLinkActive="active">
              <i class="material-icons me-2">bookmark</i>
              <span>FV</span>
              <span class="badge bg-secondary rounded-pill ms-auto">4</span>
            </a>
          </li>
          <li>
            <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['shedule/uudd']" routerLinkActive="active">
              <i class="material-icons me-2">bookmark</i>
              <span>UUDD</span>
            </a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="opened">
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['flights']" routerLinkActive="active">
          <i class="material-icons me-2">flight_takeoff</i>
          <span>Flights</span>
        </a>
        <ul class="nav flex-column">
          <li>
            <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['flights/fv']" routerLinkActive="active">
              <i class="material-icons me-2">bookmark</i>
              <span>FV</span>
              <span class="badge bg-secondary rounded-pill ms-auto">4</span>
            </a>
          </li>
          <li>
            <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['flights/uudd']" routerLinkActive="active">
              <i class="material-icons me-2">bookmark</i>
              <span>UUDD</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['aircraft']" routerLinkActive="active">
          <i class="material-icons me-2">airplanemode_active</i>
          <span>Aircraft</span>
        </a>
      </li>
      <li>
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['maps']" routerLinkActive="active">
          <i class="material-icons me-2">map</i>
          <span>Maps</span>
        </a>
      </li>
      <li>
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['routes']" routerLinkActive="active">
          <i class="material-icons me-2">linear_scale</i>
          <span>Routes</span>
        </a>
      </li>
      <li>
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['company']" routerLinkActive="active">
          <i class="material-icons me-2">domain</i>
          <span>Company</span>
        </a>
      </li>
      <li>
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['logbook']" routerLinkActive="active">
          <i class="material-icons me-2">chrome_reader_mode</i>
          <span>Logbook</span>
        </a>
      </li>
      <li>
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['track-assistaint']" routerLinkActive="active">
          <i class="material-icons me-2">track_changes</i>
          <span>Track assistaint</span>
        </a>
      </li>
      <li>
        <a class="nav-link d-flex align-items-center text-dark-gray" [routerLink]="['general']" routerLinkActive="active">
          <i class="material-icons me-2">build</i>
          <span>General</span>
        </a>
      </li>
    </ul>
  </nav>
  <nav class="border-top">
    <ul class="nav flex-column">
      <li class="d-flex align-items-center justify-content-between">
        <a class="nav-link d-flex align-items-center text-dark-gray">
          <i class="material-icons me-2">person</i>
          <span>User</span>
        </a>
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </nav>
  <button class="aside-open-btn right" [ngClass]="{'rotate-180': !sidebarOpened}"
    (click)="sidebarOpened = !sidebarOpened">
    <i class="material-icons">keyboard_arrow_left</i>
  </button>
</aside>
<main>
  <router-outlet></router-outlet>
</main>
