<!-- <router-outlet></router-outlet> -->
<header class="top-panel bg-light-gray border-bottom p-3">
  <div class="row" *ngIf="activeWindow === 'showFlights'">
    <div class="col-6 d-flex">
      <p class="navbar-brand mb-0 me-3 text-dark-gray">Shedule</p>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico me-2" (click)="activeWindow = 'addFlight'">
        <span class="material-icons">add</span>
        <span>Add flight</span>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico me-2">
        <span class="material-icons">flight</span>
        <span>Edit flight</span>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico">
        <span class="material-icons">delete</span>
        <span>Delete flight</span>
      </button>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-between">
      <div ngbDropdown class="d-inline-block me-2">
        <button class="btn btn-ico btn-light-gray btn-outline-secondary" id="sheduleMarks" ngbDropdownToggle>
          <i class="material-icons">assistant_photo</i>
        </button>
        <div ngbDropdownMenu aria-labelledby="sheduleMarks">
          <button *ngFor="let mark of marks" ngbDropdownItem>
            <i class="material-icons" [ngStyle]="{'color': mark }">assistant_photo</i>
            {{mark}}
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>
            <i class="material-icons" style="color: #5c5c5c;">assistant_photo</i>
            <span>Clear filter</span>
          </button>
        </div>
      </div>
      <div class="d-flex w-100">
        <div class="filter-block-wrap me-2">
          <div class="input-group overflow-hidden" (click)="this.showFilter = !this.showFilter">
            <div class="input-group">
              <span class="input-group-text border-0 rounded-0 py-1"
                i18n="cmn|Main search - label find@@cmn.main.search.label.find">Find</span>
              <div class="filter-elements d-flex ps-2 text-nowrap" (click)="showFilter = !showFilter">
                <div class="filter-element me-2 my-1" *ngIf="filterParams.flights && filterParams.flights.length > 0">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('flights')">close</i>
                  <span>Flight:</span>&nbsp;{{filterParams.flights}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.airlines && filterParams.airlines.length > 0">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('airlines')">close</i>
                  <span>Airline:</span>&nbsp;
                  <span>{{getFieldString(references.airlines, filterParams.airlines, 'iata')}}</span>
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.aircrafts && filterParams.aircrafts.length > 0">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('aircrafts')">close</i>
                  <span>A/C regisrtational:</span>&nbsp;
                  <span>{{getFieldString(references.aircrafts, filterParams.aircrafts, 'iata')}}</span>
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.from != ''">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('from')">close</i>
                  <span>From:</span>&nbsp;{{filterParams.from}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.to != ''">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('to')">close</i>
                  <span>To:</span>&nbsp;{{filterParams.to}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.user != ''">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('user')">close</i>
                  <span>User:</span>&nbsp;{{filterParams.user}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.start != null">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('start')">close</i>
                  <span>Date start</span>&nbsp;{{filterParams.start | date: 'dd.MM.yyyy HH:mm' : 'UTC+0'}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.finish != null">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('finish')">close</i>
                  <span>Date finish</span>&nbsp;{{filterParams.finish | date: 'dd.MM.yyyy HH:mm' : 'UTC+0'}}
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center text-dark-gray">
            <i class="material-icons mx-1" (click)="showFilter = !showFilter">arrow_drop_down</i>
          </div>
          <div class="filter-block p-2 bg-white border" *ngIf="showFilter">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Filters</span>
              <ng-select class="form-control custom-sm p-0 me-2" [items]="['Фильтр 1', 'Фильтр 2', 'Фильтр 3']"></ng-select>
              <button type="button" class="btn btn-xs btn-ico btn-light-gray">
                <i class="material-icons">delete</i>
              </button>
            </div>
            <hr />
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Airline</span>
              <ng-select class="form-control custom-sm p-0"
                        [items]="references.airlines"
                        [virtualScroll]="true"
                        bindLabel="iata"
                        bindValue="id"
                        [multiple]="true"
                        [hideSelected]="true"
                        [(ngModel)]="filterParams.airlines"
                        placeholder="Enter airline code or name">
                <ng-template ng-option-tmp let-item="item">
                  IATA:&nbsp;<span  class="font-weight-bold">{{item.iata}}</span>,&nbsp;ICAO:&nbsp;{{item.icao}}<br />
                  <small>{{item.names}}</small>
                </ng-template>
              </ng-select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Flight</span>
              <ng-select class="form-control custom-sm p-0"
                        [items]="references.flights"
                        [multiple]="true"
                        [isOpen]="false"
                        [addTag]="addTagFilterFlight"
                        [(ngModel)]="filterParams.flights"
                        (blur)="addTagFilterFromArray(selectEnteredData.flights, 'flight')"
                        (clear)="onClearFilterInput('flights')"
                        (remove)="onClearTagFilterInput($event, 'flights')"
                        (search)="onSearchFilterInput($event, 'flights')"
                        placeholder="Flight numbers separated by a space">
                <ng-template ng-tag-tmp let-search="searchTerm">
                  <b>Add:</b>&nbsp;{{search}}
                </ng-template>
              </ng-select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">From</span>
              <input id="filter-from" class="form-control" name="filter-from" [(ngModel)]="filterParams.from" />
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">To</span>
              <input id="filter-to" class="form-control" name="filter-to" [(ngModel)]="filterParams.to" />
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">A/C regisrational</span>
              <ng-select class="form-control custom-sm p-0"
                          [items]="references.aircrafts"
                          [virtualScroll]="true"
                          bindLabel="iata"
                          bindValue="id" [multiple]="true"
                          [hideSelected]="true"
                          [(ngModel)]="filterParams.aircrafts"
                          placeholder="Enter airline code or name">
                <ng-template ng-option-tmp let-item="item">
                  IATA:&nbsp;<span class="font-weight-bold">{{item.iata}}</span>,&nbsp;ICAO:&nbsp;{{item.icao}}<br />
                  <small>{{item.names}}</small>
                </ng-template>
              </ng-select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">User</span>
              <input id="filter-userValue"
                    class="form-control"
                    name="filter-userValue"
                    [(ngModel)]="filterParams.user" />
            </div>
            <hr />
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Date from</span>
              <input type="time" class="form-control" [ngModel]="filterParams.start | date: 'HH:mm' : 'UTC+0'"
                (blur)="filterParams.start = parseDateTimeUtc(start_date.value, $event.target.value)"
                name="filterParamsStartTime" #start_time>
              <input type="date" class="form-control" [ngModel]="filterParams.start | date: 'yyyy-MM-dd' : 'UTC+0'"
                (blur)="filterParams.start = parseDateTimeUtc($event.target.value, start_time.value || '00:00')"
                name="filterParamsStartDate" #start_date>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Date to</span>
              <input type="time" class="form-control" [ngModel]="filterParams.finish | date: 'HH:mm' : 'UTC+0'"
                (blur)="filterParams.finish = parseDateTimeUtc(finish_date.value, $event.target.value)"
                name="filterParamsStartTime" #finish_time>
              <input type="date" class="form-control" [ngModel]="filterParams.finish | date: 'yyyy-MM-dd' : 'UTC+0'"
                (blur)="filterParams.finish = parseDateTimeUtc($event.target.value, finish_time.value || '23:59')"
                name="filterParamsStartDate" #finish_date>
            </div>


            <button class="btn btn-gray-blue-dark btn-sm float-end ms-2" (click)="showFilter = !showFilter">
              Close
            </button>
            <button class="btn btn-blue btn-sm float-end ms-2">
              Find
            </button>
            <button class="btn btn-blue btn-sm float-end">
              Clear
            </button>
            <button class="btn btn-green btn-sm float-start">
              Save
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-xs btn-ico btn-light-gray" ngbTooltip="Filter on/off"
          [ngClass]="{'btn-active' : filterSwitch}" (click)="filterSwitch()">
          <i class="material-icons">filter_list</i>
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-between" *ngIf="activeWindow === 'addFlight'">
    <div class="col d-flex">
      <p class="navbar-brand mb-0 me-3 text-dark-gray">Shedule / Add flight</p>
      <button class="btn btn-blue btn-ico me-2" (click)="saveFlight()">
        <span class="material-icons">save</span>
        <span>Save</span>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico" (click)="closeFlight()">
        <span class="material-icons">close</span>
        <span>Close</span>
      </button>
    </div>
    <div class="col d-flex">
      <div class="input-group input-group-sm me-3">
        <span class="input-group-text">Flight</span>
        <input class="form-control" disabled value="FV 8765" />
      </div>
      <div class="input-group input-group-sm me-3">
        <span class="input-group-text">Date</span>
        <input class="form-control" disabled value="24.06.2022 02.10" />
      </div>
      <div class="input-group input-group-sm me-3">
        <span class="input-group-text">Route</span>
        <input class="form-control" disabled value="UUDD - USTR" />
      </div>
    </div>
  </div>
</header>
<section class="shedule-wrap">
  <div class="content-block p-3">
    <div *ngIf="activeWindow === 'showFlights'">
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="singleFlights">
        <label class="form-check-label" for="singleFlights">Only single flights</label>
      </div>
      <table class="table table-hover table-bordered">
        <thead class="text-center bg-light-gray">
          <tr>
            <th></th>
            <th>Callsign</th>
            <th>Flight number</th>
            <th>From</th>
            <th>To</th>
            <th>STD</th>
            <th>STA</th>
            <th>Days</th>
            <th>First flight</th>
            <th>Last flight</th>
            <th>A/C<br>regisrational</th>
            <th>Remarks</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="material-icons fs-s" style="color: transparent;">assistant_photo</i></td>
            <td>SDM8990</td>
            <td>FV</td>
            <td>UUDD</td>
            <td>UWLW</td>
            <td>18:10</td>
            <td>19:40</td>
            <td>1-3-5--</td>
            <td>17.02.2022</td>
            <td>17.02.2023</td>
            <td>VQ_BAT</td>
            <td></td>
          </tr>
          <tr>
            <td><i class="material-icons fs-s" style="color: orange;">assistant_photo</i></td>
            <td>PLK555</td>
            <td>FV555</td>
            <td>UUEE</td>
            <td>UUDD</td>
            <td>23:14</td>
            <td>23:55</td>
            <td>-----67</td>
            <td>19.02.2022</td>
            <td>31.03.2022</td>
            <td>VA-BAT</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="activeWindow === 'addFlight'">
      <div class="accordion" id="accordionAddFlight">
        <div class="accordion-item">
          <div class="accordion-header">
            <button class="accordion-button collapsed fs-s bg-light-gray"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#addFlight-flight"
                    aria-expanded="false"
                    aria-controls="addFlight-flight">
              Flight
            </button>
          </div>
          <div id="addFlight-flight"
              class="accordion-collapse collapse"
              aria-labelledby="addFlight-flight"
              data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-2 mb-3">
                  <label for="addFlightAirline" class="form-label">Airline</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['FV', 'TR', 'NT']"
                            id="addFlightAirline"></ng-select>
                </div>
                <div class="col-2 mb-3">
                  <label for="addFlightNumber" class="form-label">Flight number</label>
                  <input type="text" class="form-control form-control-sm" id="addFlightNumber">
                </div>
                <div class="col-2">
                  <label for="addFlightCallsign" class="form-label">Callsign</label>
                  <input type="text" class="form-control form-control-sm" id="addFlightCallsign">
                </div>
                <div class="col-2">
                  <label for="addFlightFrom" class="form-label">From</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['UUDD', 'UYTR', 'BGFD']"
                            id="addFlightFrom"></ng-select>
                </div>
                <div class="col-2">
                  <label for="addFlightTo" class="form-label">To</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['UUDD', 'UYTR', 'BGFD']"
                            id="addFlightTo"></ng-select>
                </div>
                <div class="col-2">
                  <label for="addFlightFlight" class="form-label">Flight</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['DO', 'TR', 'NT']"
                            id="addFlightFlight"></ng-select>
                </div>
                <div class="col-3">
                  <label for="addFlightScheduleRemarks" class="form-label">Schedule remarks</label>
                  <input type="text" class="form-control form-control-sm" id="addFlightScheduleRemarks">
                </div>
                <div class="col-3">
                  <label for="addFlightDate" class="form-label">Date</label>
                  <input type="date" class="form-control form-control-sm" id="addFlightDate">
                </div>
                <div class="col-2">
                  <label for="addFlightSTD" class="form-label">STD 06:10LT</label>
                  <input type="time" class="form-control form-control-sm" id="addFlightSTD">
                </div>
                <div class="col-2">
                  <label for="addFlightSTA" class="form-label">STA 10:55LT</label>
                  <input type="time" class="form-control form-control-sm" id="addFlightSTA">
                </div>
                <div class="col-2">
                  <label for="addFlightEET" class="form-label">EET</label>
                  <input type="time" class="form-control form-control-sm" id="addFlightEET">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#addFlight-rpl"
                    aria-expanded="false"
                    aria-controls="addFlight-rpl">
                Repetitive flight plan (RPL)
            </button>
          </div>
          <div id="addFlight-rpl"
              class="accordion-collapse collapse"
              aria-labelledby="addFlight-rpl"
              data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row align-items-end mb-3">
                <div class="col-5">
                  <label for="addFlightFirstFlight" class="form-label">First Flight</label>
                  <input type="date" class="form-control form-control-sm" id="addFlightFirstFlight">
                </div>
                <div class="col-5">
                  <label for="addFlightLastFlight" class="form-label">Last Flight</label>
                  <input type="date" class="form-control form-control-sm" id="addFlightLastFlight">
                </div>
                <div class="col-2">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="addFlightUnlimited">
                    <label class="form-check-label" for="addFlightUnlimited">
                      Unlimited
                    </label>
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <p class="m-0">Days of the week:</p>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="addFlightDaysMon">
                  <label class="form-check-label" for="addFlightDaysMon">
                    Mon
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="addFlightDaysTue">
                  <label class="form-check-label" for="addFlightDaysTue">
                    Tue
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="addFlightDaysWed">
                  <label class="form-check-label" for="addFlightDaysWed">
                    Wed
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="addFlightDaysThu">
                  <label class="form-check-label" for="addFlightDaysThu">
                    Thu
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="addFlightDaysFri">
                  <label class="form-check-label" for="addFlightDaysFri">
                    Fri
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="addFlightDaysSat">
                  <label class="form-check-label" for="addFlightDaysSat">
                    Sat
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="" id="addFlightDaysSun">
                  <label class="form-check-label" for="addFlightDaysSun">
                    Sun
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#addFlight-aircraft"
                    aria-expanded="false"
                    aria-controls="addFlight-aircraft">
              Aircraft
            </button>
          </div>
          <div id="addFlight-aircraft"
              class="accordion-collapse collapse"
              aria-labelledby="addFlight-aircraft"
              data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-6">
                  <label for="addFlightRegistration" class="form-label">Registration / Tail number</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['VA-BAT', 'VQ-BAT', 'VA-BAW']"
                            id="addFlightRegistration"></ng-select>
                </div>
                <div class="col-6">
                  <label for="addFlightType" class="form-label">Type</label>
                  <input type="text" class="form-control form-control-sm" id="addFlightType" disabled value="A319-111 CFM">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#addFlight-payload"
                    aria-expanded="false"
                    aria-controls="addFlight-payload">
              Maximum payload
            </button>
          </div>
          <div id="addFlight-payload"
              class="accordion-collapse collapse"
              aria-labelledby="addFlight-payload"
              data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-6">
                  <label for="addFlightMaxPassengers" class="form-label">Max passengers</label>
                  <input type="number" class="form-control form-control-sm" id="addFlightMaxPassengers">
                </div>
                <div class="col-6">
                  <label for="addFlightMaxCargo" class="form-label">Max cargo (kg)</label>
                  <input type="number" class="form-control form-control-sm" id="addFlightMaxCargo">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#addFlight-remarks"
                    aria-expanded="false"
                    aria-controls="addFlight-remarks">
              Remarks
            </button>
          </div>
          <div id="addFlight-remarks"
              class="accordion-collapse collapse"
              aria-labelledby="addFlight-remarks"
              data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-12 mb-3">
                  <label for="addFlightRMK" class="form-label">ATC remarks (RMK)</label>
                  <input type="number" class="form-control form-control-sm" id="addFlightMaxRMK">
                </div>
                <div class="col-12">
                  <label for="addFlightOFP" class="form-label">OFP remarks</label>
                  <textarea class="form-control form-control-sm" id="addFlightOFP" cols="30" rows="10"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside [ngClass]="{'opened': sidebarOpened, 'closed': !sidebarOpened}" class="bg-light-gray border-start right-aside">
    <div class="p-2" [ngClass]="{'d-none': sidebarOpened}">
      <button class="btn btn-light-gray btn-outline-secondary btn-ico mb-2">
        <i class="material-icons">map</i>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico">
        <i class="material-icons">flag</i>
      </button>
    </div>
    <div class="aside-content">
      <ng-container *ngIf="asideType === 'worldMap'">
        <div id="map" class="map">
          <div class="map-buttons map-buttons-top-left">
            <div ngbDropdown class="d-inline-block dropdown-check">
              <button class="btn btn-ico btn-light-gray btn-outline-secondary" id="mapLayers" ngbDropdownToggle>
                <i class="material-icons">layers</i>
              </button>
              <div ngbDropdownMenu aria-labelledby="mapLayers">
                <button ngbDropdownItem (click)="mapSettings.layers.restrictedAirspace = !mapSettings.layers.restrictedAirspace">
                  <span class="material-icons" *ngIf="mapSettings.layers.restrictedAirspace">done</span>
                  <span>Restricted Airspace</span>
                </button>
                <button ngbDropdownItem (click)="toggleLayer('airports')">
                  <span class="material-icons" *ngIf="mapSettings.layers.airports">done</span>
                  <span>Airports</span>
                </button>
                <button ngbDropdownItem (click)="mapSettings.layers.weather = !mapSettings.layers.weather">
                  <span class="material-icons" *ngIf="mapSettings.layers.weather">done</span>
                  <span>Weather</span>
                </button>
                <button ngbDropdownItem (click)="mapSettings.layers.windAndTemperature = !mapSettings.layers.windAndTemperature">
                  <span class="material-icons" *ngIf="mapSettings.layers.windAndTemperature">done</span>
                  <span>Wind and temperature</span>
                </button>
                <button ngbDropdownItem (click)="mapSettings.layers.jetStream = !mapSettings.layers.jetStream">
                  <span class="material-icons" *ngIf="mapSettings.layers.jetStream">done</span>
                  <span>Jet stream</span>
                </button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem (click)="resetMapLayers()">
                  <span>Reset to default</span>
                </button>
              </div>
            </div>
          </div>
          <div class="map-buttons map-buttons-top-right">
            <div ngbDropdown class="d-inline-block me-2">
              <button class="btn btn-ico btn-light-gray btn-outline-secondary" id="mapMarks" ngbDropdownToggle>
                <i class="material-icons">assistant_photo</i>
              </button>
              <div ngbDropdownMenu aria-labelledby="mapMarks">
                <button *ngFor="let mark of marks" ngbDropdownItem>
                  <i class="material-icons" [ngStyle]="{'color': mark }">assistant_photo</i>
                  <span>{{mark}}</span>
                </button>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem>
                  <i class="material-icons" style="color: #5c5c5c;">assistant_photo</i>
                  <span>Clear filter</span>
                </button>
              </div>
            </div>
            <button class="btn btn-ico btn-light-gray btn-outline-secondary" ngbTooltip="Show on map">
              <i class="material-icons">map</i>
            </button>
          </div>
          <div class="map-buttons map-buttons-bottom-right">
            <button class="btn btn-ico btn-light-gray btn-outline-secondary d-block mb-2">
              <i class="material-icons">linear_scale</i>
            </button>
            <button class="btn btn-ico btn-light-gray btn-outline-secondary d-block mb-2" (click)="setUserPosition()">
              <i class="material-icons">gps_fixed</i>
            </button>

            <button class="btn btn-ico btn-light-gray btn-outline-secondary d-block" id="zoomIn">
              <i class="material-icons">add</i>
            </button>
            <button class="btn btn-ico btn-light-gray btn-outline-secondary d-block" id="zoomOut">
              <i class="material-icons">remove</i>
            </button>
          </div>

        </div>
        <div id="mouse-position"></div>
        <!-- <iframe width="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.openstreetmap.org/export/embed.html?bbox=39.808230400085456%2C50.04672274280479%2C39.882903099060066%2C50.07868011286856&amp;layer=mapnik">
        </iframe> -->
      </ng-container>
      <ng-container *ngIf="asideType === 'weatherNotam'">
        <div class="bg-light-gray border-bottom p-2">
          <div class="d-flex align-items-center justify-content-between">
            <div>
              <button type="button" class="btn btn-xs btn-ico btn-light-gray me-3" ngbTooltip="Print">
                <i class="material-icons">print</i>
              </button>
              <button type="button" class="btn btn-xs btn-ico btn-light-gray me-3" ngbTooltip="Save">
                <i class="material-icons">save</i>
              </button>
              <button type="button" class="btn btn-xs btn-ico btn-light-gray" ngbTooltip="Copy">
                <i class="material-icons">content_copy</i>
              </button>
            </div>
            <div>
              <div ngbDropdown class="d-inline-block btn-group">
                <button type="button"
                        class="btn btn-xs btn-ico btn-light-gray"
                        id="searchAirport"
                        ngbTooltip="Search airport"
                        data-bs-toggle="modal"
                        data-bs-target="#searchAirportModal">
                  <i class="material-icons">domain</i>
                </button>
                <button type="button"
                        class="btn btn-xs btn-ico btn-light-gray"
                        id="searchAirport"
                        ngbDropdownToggle
                        ngbTooltip="Search airport">
                </button>
                <div ngbDropdownMenu aria-labelledby="searchAirport">
                  <button ngbDropdownItem>UUDD / DME / domodedovo</button>
                  <button ngbDropdownItem>UWLW / ULY / Vostochny</button>
                  <button ngbDropdownItem>UWLL / UWL / Barataevka</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="p-3">
          <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Display</span>
            <ng-select class="form-control custom-sm p-0 me-2" [items]="modifers"></ng-select>
            <button type="button" class="btn btn-xs btn-ico btn-light-gray" ngbTooltip="...">
              <i class="material-icons">cached</i>
            </button>
          </div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active"
                      id="weather-tab" data-bs-toggle="tab"
                      data-bs-target="#weather" type="button"
                      role="tab" aria-controls="weather" aria-selected="true">
                Weather
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="notams-tab"
                      data-bs-toggle="tab" data-bs-target="#notams"
                      type="button" role="tab" aria-controls="notams" aria-selected="false">
                NOTAMs
              </button>
            </li>
          </ul>
          <div class="tab-content pt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="weather" role="tabpanel" aria-labelledby="weather-tab">
              <label class="w-100 mb-3">Airport/FIR identifier
                <textarea class="form-control w-100" rows="5">UUDD UWLW</textarea>
              </label>
              <div class="accordion" id="accordionWeather">
                <div class="accordion-item">
                  <div class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fs-s bg-light-gray"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#Weather-UUDD"
                            aria-expanded="false"
                            aria-controls="Weather-UUDD">
                      UUDD/DME (DOMODEDOVO, Russian Federation) UTC +04:00
                    </button>
                  </div>
                  <div id="Weather-UUDD"
                      class="accordion-collapse collapse"
                      aria-labelledby="Weather-UUDD"
                      data-bs-parent="#accordionWeather">
                    <div class="accordion-body">NO ACTIVE NOTAMS</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fs-s bg-light-gray"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#Weather-UWLW"
                            aria-expanded="false"
                            aria-controls="Weather-UWLW">
                      UWLW/ULY (VOSTOCHNY, Russian Federation) UTC +04:00
                    </button>
                  </div>
                  <div id="Weather-UWLW"
                      class="accordion-collapse collapse"
                      aria-labelledby="Weather-UWLW"
                      data-bs-parent="#accordionWeather">
                    <div class="accordion-body">NO ACTIVE NOTAMS</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="notams" role="tabpanel" aria-labelledby="notams-tab">
              <label class="w-100 mb-3">Airport/FIR identifier
                <textarea class="form-control w-100" rows="5">UUDD UWLW</textarea>
              </label>
              <div class="accordion" id="accordionNotams">
                <div class="accordion-item">
                  <div class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fs-s bg-light-gray"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#notams-UUDD"
                            aria-expanded="false"
                            aria-controls="notams-UUDD">
                      UUDD/DME (DOMODEDOVO, Russian Federation) UTC +04:00
                    </button>
                  </div>
                  <div id="notams-UUDD"
                      class="accordion-collapse collapse"
                      aria-labelledby="notams-UUDD"
                      data-bs-parent="#accordionNotams">
                    <div class="accordion-body">NO WX DATA AVAILABLE</div>
                  </div>
                </div>
                <div class="accordion-item">
                  <div class="accordion-header" id="flush-headingOne">
                    <button class="accordion-button collapsed fs-s bg-light-gray"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#notams-UWLW"
                            aria-expanded="false"
                            aria-controls="notams-UWLW">
                      UWLW/ULY (VOSTOCHNY, Russian Federation) UTC +04:00
                    </button>
                  </div>
                  <div id="notams-UWLW"
                      class="accordion-collapse collapse"
                      aria-labelledby="notams-UWLW"
                      data-bs-parent="#accordionNotams">
                    <div class="accordion-body">NO WX DATA AVAILABLE</div>
                  </div>
                </div>
              </div></div>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="asideType === 'track'">
        <div class="p-3 h-100">
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active"
                      id="nat-tab" data-bs-toggle="tab"
                      data-bs-target="#nat" type="button"
                      role="tab" aria-controls="nat" aria-selected="true">
                North Atlantic (NAT)
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pac-tab"
                      data-bs-toggle="tab" data-bs-target="#pac"
                      type="button" role="tab" aria-controls="pac" aria-selected="false">
                Pacific (PAC)
              </button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="aus-tab"
                      data-bs-toggle="tab" data-bs-target="#aus"
                      type="button" role="tab" aria-controls="aus" aria-selected="false">
                Australian (AUS)
              </button>
            </li>
          </ul>
          <div class="tab-content pt-3 h-100" id="myTabContent">
            <div class="tab-pane fade h-100" id="nat" role="tabpanel" aria-labelledby="nat-tab">
              <textarea class="w-100 p-2 border text-monospace fs-xs" readonly style="height: calc(100% - 35px);">
NORTH ATLANTIC TRACK MESSAGE

(NAT-1/2 TRACKS FLS 320/400 INCLUSIVE
AUG 11/0100Z TO AUG 11/0800Z
PART ONE OF TWO PARTS-

V REDBY CARPE 54/50 55/40 55/30 55/20 RESNO NETKI
EAST LVLS 320 330 340 350 360 370 380 390 400
WEST LVLS NIL
EUR RTS EAST NIL
NAR N137B N141B-

W YAY HECKK 53/50 54/40 54/30 54/20 DOGAL BEXET
EAST LVLS 320 330 340 350 360 370 380 390 400
WEST LVLS NIL
EUR RTS EAST NIL
NAR N123A N129B-

X DOTTY CRONO 52/50 53/40 53/30 53/20 MALOT GISTI
EAST LVLS 320 330 340 350 360 370 380 390 400
WEST LVLS NIL
EUR RTS EAST NIL
NAR N107B N113B N115B-

Y CYMON DENDU 51/50 52/40 52/30 52/20 LIMRI XETBO
EAST LVLS 320 330 340 350 360 370 380 390 400
WEST LVLS NIL
EUR RTS EAST NIL
NAR N91B N97B N99A-

END OF PART ONE OF TWO PARTS)


(NAT-2/2 TRACKS FLS 320/400 INCLUSIVE
AUG 11/0100Z TO AUG 11/0800Z
              </textarea>
            </div>
            <div class="tab-pane fade" id="pac" role="tabpanel" aria-labelledby="pac-tab">...</div>
            <div class="tab-pane fade" id="aus" role="tabpanel" aria-labelledby="aus-tab">...</div>
          </div>
        </div>
      </ng-container>
    </div>
    <div class="p-2">
      <div class="btn-group" role="group" [ngClass]="{'d-none': !sidebarOpened}">
        <input type="radio"
              (click)="selectViewAside('worldMap')"
              [checked]="asideType === 'worldMap'"
              [value]="'worldMap'"
              class="btn-check"
              id="worldMap"
              autocomplete="off">
        <label class="btn btn-outline-success" for="worldMap">World map</label>

        <input type="radio"
              (click)="selectViewAside('weatherNotam')"
              [checked]="asideType === 'weatherNotam'"
              [value]="'weatherNotam'"
              class="btn-check"
              id="weatherNotam"
              autocomplete="off">
        <label class="btn btn-outline-success" for="weatherNotam">Weather & Notam</label>

        <input type="radio"
              (click)="selectViewAside('track')"
              [checked]="asideType === 'track'"
              [value]="'track'"
              class="btn-check"
              id="track"
              autocomplete="off">
        <label class="btn btn-outline-success" for="track">Track</label>
      </div>
      <button class="aside-open-btn right" [ngClass]="{'rotate-180': sidebarOpened}"
        (click)="sidebarOpened = !sidebarOpened">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
    </div>
  </aside>
</section>

<!-- Modal -->
<div class="modal fade" id="searchAirportModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="searchAirportModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header bg-blue text-white">
        <h5 class="text-white fs-5 m-0" id="searchAirportModalLabel">Search airports</h5>
        <button type="button" class="btn btn-ico bg-none" data-bs-dismiss="modal" aria-label="Close">
          <i class="material-icons text-white">close</i>
        </button>
      </div>
      <div class="modal-body p-0">
        <div class="row m-0">
          <div class="col-6 py-3">
            <div class="d-flex align-items-center justify-content-between mb-3">
              <p class="mb-0 fs-6">Search by</p>
              <div class="btn-group" role="group">
                <input type="radio"
                      (click)="searchBy = 'identifier'"
                      [checked]="searchBy === 'identifier'"
                      [value]="'identifier'"
                      class="btn-check"
                      id="searchByIdentifier"
                      autocomplete="off">
                <label class="btn btn-outline-success" for="searchByIdentifier">Identifier</label>

                <input type="radio"
                      (click)="searchBy = 'near'"
                      [checked]="searchBy === 'near'"
                      [value]="'near'"
                      class="btn-check"
                      id="searchByNear"
                      autocomplete="off">
                <label class="btn btn-outline-success" for="searchByNear">Near</label>
              </div>
            </div>
            <ng-container *ngIf="searchBy === 'identifier'">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title fs-6 fw-bolder">Search by identifier</h5>
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Code or name or country</span>
                    <ng-select class="form-control custom-sm p-0 ng-select"
                              [items]="['US', 'TR', 'NT']"></ng-select>
                  </div>
                  <button class="btn btn-blue float-end">
                    <span>Find</span>
                  </button>
                </div>
              </div>
              <p class="mb-0 fs-6">Search result</p>
              <table class="table border table-hover">
                <thead class="bg-light-gray">
                  <tr>
                    <th>ICAO</th>
                    <th>IATA</th>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Country</th>
                    <th>Runway</th>
                    <th>Dist (nm)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>USUU</td>
                    <td>SVX</td>
                    <td>KOLTSOVO</td>
                    <td>Airport</td>
                    <td>Russia</td>
                    <td>3 026m x 53 m</td>
                    <td>150.1</td>
                  </tr>
                  <tr>
                    <td>USCC</td>
                    <td>CEK</td>
                    <td>BALANDINO</td>
                    <td>Airport</td>
                    <td>Russia</td>
                    <td>3 200m x 60 m</td>
                    <td>169.1</td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>
          <div class="col-6 p-0 border-start">
            <div class="modal-right">
              <ng-container *ngIf="modalRightType === 'worldMap'">
                <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                  src="https://www.openstreetmap.org/export/embed.html?bbox=38.556474968791015%2C52.28974426007381%2C42.41542272269726%2C54.08331453264074&amp;layer=mapnik">
                </iframe>
              </ng-container>
              <ng-container *ngIf="modalRightType === 'weatherNotam'">
                <div class="bg-light-gray border-bottom p-2">
                  <button type="button" class="btn btn-xs btn-ico btn-light-gray me-3" ngbTooltip="Print">
                    <i class="material-icons">print</i>
                  </button>
                  <button type="button" class="btn btn-xs btn-ico btn-light-gray me-3" ngbTooltip="Save">
                    <i class="material-icons">save</i>
                  </button>
                  <button type="button" class="btn btn-xs btn-ico btn-light-gray" ngbTooltip="Copy">
                    <i class="material-icons">content_copy</i>
                  </button>
                </div>
                <div class="p-3">
                  <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Display</span>
                    <ng-select class="form-control custom-sm p-0 me-2" [items]="modifers"></ng-select>
                    <button type="button" class="btn btn-xs btn-ico btn-light-gray" ngbTooltip="...">
                      <i class="material-icons">cached</i>
                    </button>
                  </div>
                  <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active"
                              id="weatherModal-tab" data-bs-toggle="tab"
                              data-bs-target="#weatherModal" type="button"
                              role="tab" aria-controls="weatherModal" aria-selected="true">
                        Weather
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="notamsModal-tab"
                              data-bs-toggle="tab" data-bs-target="#notamsModal"
                              type="button" role="tab" aria-controls="notamsModal" aria-selected="false">
                        NOTAMs
                      </button>
                    </li>
                  </ul>
                  <div class="tab-content pt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="weatherModal" role="tabpanel" aria-labelledby="weatherModal-tab">
                      <label class="w-100 mb-3">Airport/FIR identifier
                        <textarea class="form-control w-100" rows="5">UUDD UWLW</textarea>
                      </label>
                      <div class="accordion" id="accordionWeatherModal">
                        <div class="accordion-item">
                          <div class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed fs-s bg-light-gray"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#weatherModal-UUDD"
                                    aria-expanded="false"
                                    aria-controls="weatherModal-UUDD">
                              UUDD/DME (DOMODEDOVO, Russian Federation) UTC +04:00
                            </button>
                          </div>
                          <div id="weatherModal-UUDD"
                              class="accordion-collapse collapse"
                              aria-labelledby="weatherModal-UUDD"
                              data-bs-parent="#accordionWeatherModal">
                            <div class="accordion-body">NO ACTIVE NOTAMS</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <div class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed fs-s bg-light-gray"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#weatherModal-UWLW"
                                    aria-expanded="false"
                                    aria-controls="weatherModal-UWLW">
                              UWLW/ULY (VOSTOCHNY, Russian Federation) UTC +04:00
                            </button>
                          </div>
                          <div id="weatherModal-UWLW"
                              class="accordion-collapse collapse"
                              aria-labelledby="weatherModal-UWLW"
                              data-bs-parent="#accordionWeatherModal">
                            <div class="accordion-body">NO ACTIVE NOTAMS</div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="notamsModal" role="tabpanel" aria-labelledby="notamsModal-tab">
                      <label class="w-100 mb-3">Airport/FIR identifier
                        <textarea class="form-control w-100" rows="5">UUDD UWLW</textarea>
                      </label>
                      <div class="accordion" id="accordionNotams">
                        <div class="accordion-item">
                          <div class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed fs-s bg-light-gray"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#notams-UUDD"
                                    aria-expanded="false"
                                    aria-controls="notams-UUDD">
                              UUDD/DME (DOMODEDOVO, Russian Federation) UTC +04:00
                            </button>
                          </div>
                          <div id="notams-UUDD"
                              class="accordion-collapse collapse"
                              aria-labelledby="notams-UUDD"
                              data-bs-parent="#accordionNotams">
                            <div class="accordion-body">NO WX DATA AVAILABLE</div>
                          </div>
                        </div>
                        <div class="accordion-item">
                          <div class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed fs-s bg-light-gray"
                                    type="button"
                                    data-bs-toggle="collapse"
                                    data-bs-target="#notams-UWLW"
                                    aria-expanded="false"
                                    aria-controls="notams-UWLW">
                              UWLW/ULY (VOSTOCHNY, Russian Federation) UTC +04:00
                            </button>
                          </div>
                          <div id="notams-UWLW"
                              class="accordion-collapse collapse"
                              aria-labelledby="notams-UWLW"
                              data-bs-parent="#accordionNotams">
                            <div class="accordion-body">NO WX DATA AVAILABLE</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-container>
              <ng-container *ngIf="modalRightType === 'track'">
                <div class="p-3 h-100">
                  <ul class="nav nav-tabs" id="modalTab" role="tablist">
                    <li class="nav-item" role="presentation">
                      <button class="nav-link active"
                              id="natModal-tab" data-bs-toggle="tab"
                              data-bs-target="#natModal" type="button"
                              role="tab" aria-controls="natModal" aria-selected="true">
                        North Atlantic (NAT)
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="pacModal-tab"
                              data-bs-toggle="tab" data-bs-target="#pacModal"
                              type="button" role="tab" aria-controls="pacModal" aria-selected="false">
                        Pacific (PAC)
                      </button>
                    </li>
                    <li class="nav-item" role="presentation">
                      <button class="nav-link" id="ausModal-tab"
                              data-bs-toggle="tab" data-bs-target="#ausModal"
                              type="button" role="tab" aria-controls="ausModal" aria-selected="false">
                        Australian (AUS)
                      </button>
                    </li>
                  </ul>
                  <div class="tab-content pt-3 h-100" id="modalTabContent">
                    <div class="tab-pane fade show active h-100" id="natModal" role="tabpanel" aria-labelledby="natModal-tab">
                      <textarea class="w-100 p-2 border text-monospace fs-xs" readonly style="height: calc(100% - 35px);">
  NORTH ATLANTIC TRACK MESSAGE

  (NAT-1/2 TRACKS FLS 320/400 INCLUSIVE
  AUG 11/0100Z TO AUG 11/0800Z
  PART ONE OF TWO PARTS-

  V REDBY CARPE 54/50 55/40 55/30 55/20 RESNO NETKI
  EAST LVLS 320 330 340 350 360 370 380 390 400
  WEST LVLS NIL
  EUR RTS EAST NIL
  NAR N137B N141B-

  W YAY HECKK 53/50 54/40 54/30 54/20 DOGAL BEXET
  EAST LVLS 320 330 340 350 360 370 380 390 400
  WEST LVLS NIL
  EUR RTS EAST NIL
  NAR N123A N129B-

  X DOTTY CRONO 52/50 53/40 53/30 53/20 MALOT GISTI
  EAST LVLS 320 330 340 350 360 370 380 390 400
  WEST LVLS NIL
  EUR RTS EAST NIL
  NAR N107B N113B N115B-

  Y CYMON DENDU 51/50 52/40 52/30 52/20 LIMRI XETBO
  EAST LVLS 320 330 340 350 360 370 380 390 400
  WEST LVLS NIL
  EUR RTS EAST NIL
  NAR N91B N97B N99A-

  END OF PART ONE OF TWO PARTS)


  (NAT-2/2 TRACKS FLS 320/400 INCLUSIVE
  AUG 11/0100Z TO AUG 11/0800Z

                        </textarea>
                    </div>
                    <div class="tab-pane fade" id="pacModal" role="tabpanel" aria-labelledby="pacModal-tab">...</div>
                    <div class="tab-pane fade" id="ausModal" role="tabpanel" aria-labelledby="ausModal-tab">...</div>
                  </div>
                </div>
              </ng-container>
            </div>
            <div class="p-2 bg-light-gray">
              <div class="btn-group" role="group">
                <input type="radio"
                      (click)="modalRightType = 'worldMap'"
                      [checked]="modalRightType === 'worldMap'"
                      [value]="'worldMap'"
                      class="btn-check"
                      id="modalRightWorldMap"
                      autocomplete="off">
                <label class="btn btn-outline-success" for="modalRightWorldMap">World map</label>

                <input type="radio"
                      (click)="modalRightType = 'weatherNotam'"
                      [checked]="modalRightType === 'weatherNotam'"
                      [value]="'weatherNotam'"
                      class="btn-check"
                      id="modalRightWeatherNotam"
                      autocomplete="off">
                <label class="btn btn-outline-success" for="modalRightWeatherNotam">Weather & Notam</label>

                <input type="radio"
                      (click)="modalRightType = 'track'"
                      [checked]="modalRightType === 'track'"
                      [value]="'track'"
                      class="btn-check"
                      id="modalRightTrack"
                      autocomplete="off">
                <label class="btn btn-outline-success" for="modalRightTrack">Track</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer bg-light-gray">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>
