@import '../../../_variables';

.shedule-wrap {
  display: flex;

  .content-block {
    flex-grow: 1;
  }

  aside {
    flex-shrink: 0;
    min-height : calc(100vh - 66px);
    position   : relative;
    transition : 0.3s;
    overflow: hidden;

    &.opened {
        width: 500px;
    }

    &.closed {
        width: 66px;

        iframe {
          display: none;
        }
    }

    .aside-content {
      height: calc(100% - 52px);
      background-color: $color-white;

      iframe {
        height: 100%;
      }
    }
  }
}

.modal-right {
  height: calc(100% - 47px);

  iframe {
    height: calc(100%);
  }
}

div#map {
  width: 100%;
  height: 100%;
  position: relative;

  .map-buttons {
    position: absolute;
    z-index: 100;

    &.map-buttons-top-left {
      top: 15px;
      left: 15px;
    }

    &.map-buttons-top-right {
      top: 15px;
      right: 15px;
    }

    &.map-buttons-bottom-right {
      bottom: 15px;
      right: 15px;
    }

    .btn-ico {
      padding: 5px 10px;
      text-align: center;

      .material-icons {
        margin: 0;
        font-size: 20px;
      }
    }
  }
}

.dropdown-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.dropdown-check {

  .dropdown-item {
    position: relative;
    padding-left: 40px;

    .material-icons {
      font-size: 20px;
      position: absolute;
      left: 10px;
      top: 4px;
    }
  }

}
