@import '../../../_variables';

.shedule-wrap {
  display: flex;

  .content-block {
    flex-grow: 1;
  }

  aside {
    flex-shrink: 0;
    min-height : calc(100vh - 67px);
    position   : relative;
    transition : 0.3s;
    overflow: hidden;

    &.opened {
        width: 500px;
    }

    &.closed {
        width: 66px;

        iframe {
          display: none;
        }
    }

    .aside-content {
      height: calc(100% - 52px);
      background-color: $color-white;

      iframe {
        height: 100%;
      }
    }
  }
}
