<!-- <router-outlet></router-outlet> -->
<header class="top-panel bg-light-gray border-bottom p-3">
  <div class="row" *ngIf="activeWindow === 'showFlights'">
    <div class="col-6 d-flex">
      <p class="navbar-brand mb-0 me-3 text-dark-gray">Flights</p>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico me-2" (click)="addFlight()">
        <span class="material-icons">add</span>
        <span>Add flight</span>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico me-2" (click)="editFlight()">
        <span class="material-icons">flight</span>
        <span>Edit flight</span>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico">
        <span class="material-icons">not_interested</span>
        <span>Cancel flight</span>
      </button>
    </div>
    <div class="col-6 d-flex align-items-center justify-content-between">
      <div ngbDropdown class="d-inline-block me-2">
        <button class="btn btn-ico btn-light-gray btn-outline-secondary" id="sheduleMarks" ngbDropdownToggle>
          <i class="material-icons">assistant_photo</i>
        </button>
        <div ngbDropdownMenu aria-labelledby="sheduleMarks">
          <button *ngFor="let mark of marks" ngbDropdownItem>
            <i class="material-icons" [ngStyle]="{'color': mark }">assistant_photo</i>
            {{mark}}
          </button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem>
            <i class="material-icons" style="color: #5c5c5c;">assistant_photo</i>
            <span>Clear filter</span>
          </button>
        </div>
      </div>
      <div class="d-flex w-100">
        <div class="filter-block-wrap me-2">
          <div class="input-group overflow-hidden" (click)="this.showFilter = !this.showFilter">
            <div class="input-group">
              <span class="input-group-text border-0 rounded-0 py-1"
                i18n="cmn|Main search - label find@@cmn.main.search.label.find">Find</span>
              <div class="filter-elements d-flex ps-2 text-nowrap" (click)="showFilter = !showFilter">
                <div class="filter-element me-2 my-1" *ngIf="filterParams.flights && filterParams.flights.length > 0">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('flights')">close</i>
                  <span>Flight:</span>&nbsp;{{filterParams.flights}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.airlines && filterParams.airlines.length > 0">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('airlines')">close</i>
                  <span>Airline:</span>&nbsp;
                  <span>{{getFieldString(references.airlines, filterParams.airlines, 'iata')}}</span>
                </div>
                <div class="filter-element me-2 my-1"
                  *ngIf="filterParams.aircrafts && filterParams.aircrafts.length > 0">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('aircrafts')">close</i>
                  <span>A/C regisrtational:</span>&nbsp;
                  <span>{{getFieldString(references.aircrafts, filterParams.aircrafts, 'iata')}}</span>
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.from != ''">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('from')">close</i>
                  <span>From:</span>&nbsp;{{filterParams.from}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.to != ''">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('to')">close</i>
                  <span>To:</span>&nbsp;{{filterParams.to}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.user != ''">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('user')">close</i>
                  <span>User:</span>&nbsp;{{filterParams.user}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.start != null">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('start')">close</i>
                  <span>Date start</span>&nbsp;{{filterParams.start | date: 'dd.MM.yyyy HH:mm' : 'UTC+0'}}
                </div>
                <div class="filter-element me-2 my-1" *ngIf="filterParams.finish != null">
                  <i class="material-icons mx-1" (click)="clearFilterParametr('finish')">close</i>
                  <span>Date finish</span>&nbsp;{{filterParams.finish | date: 'dd.MM.yyyy HH:mm' : 'UTC+0'}}
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center text-dark-gray">
            <i class="material-icons mx-1" (click)="showFilter = !showFilter">arrow_drop_down</i>
          </div>
          <div class="filter-block p-2 bg-white border" *ngIf="showFilter">
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Filters</span>
              <ng-select class="form-control custom-sm p-0 me-2" [items]="['Фильтр 1', 'Фильтр 2', 'Фильтр 3']">
              </ng-select>
              <button type="button" class="btn btn-xs btn-ico btn-light-gray">
                <i class="material-icons">delete</i>
              </button>
            </div>
            <hr />
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Airline</span>
              <ng-select class="form-control custom-sm p-0" [items]="references.airlines" [virtualScroll]="true"
                bindLabel="iata" bindValue="id" [multiple]="true" [hideSelected]="true"
                [(ngModel)]="filterParams.airlines" placeholder="Enter airline code or name">
                <ng-template ng-option-tmp let-item="item">
                  IATA:&nbsp;<span class="font-weight-bold">{{item.iata}}</span>,&nbsp;ICAO:&nbsp;{{item.icao}}<br />
                  <small>{{item.names}}</small>
                </ng-template>
              </ng-select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Flight</span>
              <ng-select class="form-control custom-sm p-0" [items]="references.flights" [multiple]="true"
                [isOpen]="false" [addTag]="addTagFilterFlight" [(ngModel)]="filterParams.flights"
                (blur)="addTagFilterFromArray(selectEnteredData.flights, 'flight')"
                (clear)="onClearFilterInput('flights')" (remove)="onClearTagFilterInput($event, 'flights')"
                (search)="onSearchFilterInput($event, 'flights')" placeholder="Flight numbers separated by a space">
                <ng-template ng-tag-tmp let-search="searchTerm">
                  <b>Add:</b>&nbsp;{{search}}
                </ng-template>
              </ng-select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">From</span>
              <input id="filter-from" class="form-control" name="filter-from" [(ngModel)]="filterParams.from" />
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">To</span>
              <input id="filter-to" class="form-control" name="filter-to" [(ngModel)]="filterParams.to" />
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">A/C regisrational</span>
              <ng-select class="form-control custom-sm p-0" [items]="references.aircrafts" [virtualScroll]="true"
                bindLabel="iata" bindValue="id" [multiple]="true" [hideSelected]="true"
                [(ngModel)]="filterParams.aircrafts" placeholder="Enter airline code or name">
                <ng-template ng-option-tmp let-item="item">
                  IATA:&nbsp;<span class="font-weight-bold">{{item.iata}}</span>,&nbsp;ICAO:&nbsp;{{item.icao}}<br />
                  <small>{{item.names}}</small>
                </ng-template>
              </ng-select>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">User</span>
              <input id="filter-userValue" class="form-control" name="filter-userValue"
                [(ngModel)]="filterParams.user" />
            </div>
            <hr />
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Date from</span>
              <input type="time" class="form-control" [ngModel]="filterParams.start | date: 'HH:mm' : 'UTC+0'"
                (blur)="filterParams.start = parseDateTimeUtc(start_date.value, $event.target.value)"
                name="filterParamsStartTime" #start_time>
              <input type="date" class="form-control" [ngModel]="filterParams.start | date: 'yyyy-MM-dd' : 'UTC+0'"
                (blur)="filterParams.start = parseDateTimeUtc($event.target.value, start_time.value || '00:00')"
                name="filterParamsStartDate" #start_date>
            </div>
            <div class="input-group input-group-sm mb-3">
              <span class="input-group-text">Date to</span>
              <input type="time" class="form-control" [ngModel]="filterParams.finish | date: 'HH:mm' : 'UTC+0'"
                (blur)="filterParams.finish = parseDateTimeUtc(finish_date.value, $event.target.value)"
                name="filterParamsStartTime" #finish_time>
              <input type="date" class="form-control" [ngModel]="filterParams.finish | date: 'yyyy-MM-dd' : 'UTC+0'"
                (blur)="filterParams.finish = parseDateTimeUtc($event.target.value, finish_time.value || '23:59')"
                name="filterParamsStartDate" #finish_date>
            </div>


            <button class="btn btn-gray-blue-dark btn-sm float-end ms-2" (click)="showFilter = !showFilter">
              Close
            </button>
            <button class="btn btn-blue btn-sm float-end ms-2">
              Find
            </button>
            <button class="btn btn-blue btn-sm float-end">
              Clear
            </button>
            <button class="btn btn-green btn-sm float-start">
              Save
            </button>
          </div>
        </div>
        <button type="button" class="btn btn-xs btn-ico btn-light-gray" ngbTooltip="Filter on/off"
          [ngClass]="{'btn-active' : filterSwitch}" (click)="filterSwitch()">
          <i class="material-icons">filter_list</i>
        </button>
      </div>
    </div>
  </div>
  <div class="row justify-content-between" *ngIf="activeWindow === 'addFlight' || activeWindow === 'computeFlight'">
    <div class="col d-flex" *ngIf="activeWindow === 'addFlight'">
      <p class="navbar-brand mb-0 me-3 text-dark-gray">Flights / Plan flight</p>
      <button class="btn btn-blue btn-ico me-2" (click)="saveFlight()">
        <span class="material-icons">save</span>
        <span>Save</span>
      </button>
      <button class="btn btn-blue btn-ico me-2" (click)="computeFlight()">
        <span class="material-icons">playlist_add_check</span>
        <span>Compute flight</span>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico" (click)="closeFlight()">
        <span class="material-icons">close</span>
        <span>Close</span>
      </button>
    </div>
    <div class="col d-flex" *ngIf="activeWindow === 'computeFlight'">
      <p class="navbar-brand mb-0 me-3 text-dark-gray">Flights / Plan flight</p>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico me-2">
        <span class="material-icons">print</span>
        <span>Print</span>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico" (click)="editFlight()">
        <span class="material-icons">flight</span>
        <span>Edit flight</span>
      </button>
    </div>
    <div class="col d-flex">
      <div class="input-group input-group-sm me-3">
        <span class="input-group-text">Flight</span>
        <input class="form-control" disabled value="FV 8765" />
      </div>
      <div class="input-group input-group-sm me-3">
        <span class="input-group-text">Date</span>
        <input class="form-control" disabled value="24.06.2022 02.10" />
      </div>
      <div class="input-group input-group-sm me-3">
        <span class="input-group-text">Route</span>
        <input class="form-control" disabled value="UUDD - USTR" />
      </div>
    </div>
  </div>
</header>
<section class="shedule-wrap">
  <div class="content-block p-3">
    <div *ngIf="activeWindow === 'showFlights'">
      <table class="table table-hover table-bordered">
        <thead class="text-center bg-light-gray">
          <tr>
            <th></th>
            <th>Callsign</th>
            <th>Flight</th>
            <th>From</th>
            <th>To</th>
            <th>STD</th>
            <th>ETD</th>
            <th>STA</th>
            <th>ETA</th>
            <th>Aircraft</th>
            <th>NR</th>
            <th>Status</th>
            <th>Remarks</th>
            <th>Pax</th>
          </tr>
          <tr>
            <th colspan="14" class="text-start">09.03.2022</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><i class="material-icons fs-s" style="color: transparent;">assistant_photo</i></td>
            <td>SDM8990</td>
            <td>FV8990</td>
            <td>UUDD</td>
            <td>UWLW</td>
            <td>22:20</td>
            <td></td>
            <td>00:40+</td>
            <td></td>
            <td>VQ_BAT</td>
            <td>#2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td><i class="material-icons fs-s" style="color: orange;">assistant_photo</i></td>
            <td>SDM8990</td>
            <td>FV8990</td>
            <td>UUDD</td>
            <td>UWLW</td>
            <td>22:20</td>
            <td></td>
            <td>00:40+</td>
            <td></td>
            <td>VQ_BAT</td>
            <td>#2</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="activeWindow === 'addFlight'">
      <div class="accordion" id="accordionAddFlight">
        <div class="accordion-item">
          <div class="accordion-header">
            <button class="accordion-button collapsed fs-s bg-light-gray" type="button" data-bs-toggle="collapse"
              data-bs-target="#addFlight-flight" aria-expanded="false" aria-controls="addFlight-flight">
              Flight
            </button>
          </div>
          <div id="addFlight-flight" class="accordion-collapse collapse" aria-labelledby="addFlight-flight"
            data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-2 mb-2 pe-0">
                  <label for="addFlightAirline" class="form-label">Airline</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['FV', 'TR', 'NT']"></ng-select>
                </div>
                <div class="col-2 mb-2 pe-0">
                  <label for="addFlightNumber" class="form-label">Flight number</label>
                  <input type="text" class="form-control form-control-sm" id="addFlightNumber">
                </div>
                <div class="col-2 mb-2 pe-0">
                  <label for="addFlightCallsign" class="form-label">Callsign</label>
                  <input type="text" class="form-control form-control-sm" id="addFlightCallsign">
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label for="addFlightFrom" class="form-label">From</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                              [items]="airports"
                              bindLabel="F551070_ArdCode"
                              bindValue="F551070_ArdCode"
                              id="airportFrom"
                              name="airportFrom"
                              #airportFrom
                              [(ngModel)]="flight.from"
                              [searchFn]="airportsSelectSearch"
                              (change)="changeAirport($event.F551070_ArdCode, flight.to)">
                    <ng-template ng-option-tmp let-item="item">
                      <strong>{{item.F551070_ArdCode}}</strong>&nbsp;<small>{{item.F551070_ArdNm}}</small>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="col-3 mb-2">
                  <label for="addFlightTo" class="form-label">To</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                              [items]="airports"
                              bindLabel="F551070_ArdCode"
                              bindValue="F551070_ArdCode"
                              id="airportTo"
                              name="airportTo"
                              #airportTo
                              [(ngModel)]="flight.to"
                              [searchFn]="airportsSelectSearch"
                              (change)="changeAirport(flight.from, $event.F551070_ArdCode)">
                    <ng-template ng-option-tmp let-item="item">
                      <strong>{{item.F551070_ArdCode}}</strong>&nbsp;<small>{{item.F551070_ArdNm}}</small>
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-3 mb-2 pe-0">
                  <label for="addFlightFlight" class="form-label">Take-off runway</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['32R', '32R', '32R']"
                            id="addFlightFlight"></ng-select>
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label for="addFlightLandingRunway" class="form-label">Landing runway</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['30', '3402R', '50']"
                            id="addFlightLandingRunway"></ng-select>
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label for="addFlightFlightTaxiOut" class="form-label">Taxi out</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['10 min', '15 min', '20 min']"
                            id="addFlightFlightTaxiOut"></ng-select>
                </div>
                <div class="col-3 mb-2">
                  <label for="addFlightFlightTaxiIn" class="form-label">Taxi in</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['5 min', '10 min', '15 min']"
                            id="addFlightFlightTaxiIn"></ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-6 mb-2 pe-0">
                  <label for="addFlightScheduleRemarks" class="form-label">Dispatch remarks</label>
                  <input type="text" class="form-control form-control-sm" id="addFlightScheduleRemarks">
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label for="addFlightFlight" class="form-label">Flight</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['DO', 'NH', 'YF']"
                            id="addFlightFlight"></ng-select>
                </div>
                <div class="col-3 mb-2">
                  <label for="addFlightType" class="form-label">Type</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                            [items]="['N', 'Y', 'F']"
                            id="addFlightType"></ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-3 pe-0">
                  <label for="addFlightDate" class="form-label">Date</label>
                  <input type="date" class="form-control form-control-sm" [ngModel]="flight.date | date: 'yyyy-MM-dd' : 'UTC+0'"
                    (blur)="flight.date = parseDateTimeUtc($event.target.value, flight_time.value || '00:00')"
                    name="flightDate" #flight_date>
                </div>
                <div class="col-3 pe-0">
                  <label for="addFlightSTD" class="form-label">STD</label>
                  <input type="time" class="form-control form-control-sm" [ngModel]="flight.date | date: 'HH:mm' : 'UTC+0'"
                    (blur)="flight.date = parseDateTimeUtc(flight_date.value, $event.target.value)"
                    name="flightTime" #flight_time>
                </div>
                <div class="col-2 pe-0">
                  <label for="addFlightETD" class="form-label">ETD</label>
                  <input type="time" class="form-control form-control-sm" id="addFlightETD">
                </div>
                <div class="col-2 pe-0">
                  <label for="addFlightSTA" class="form-label">STA</label>
                  <input type="time" class="form-control form-control-sm" id="addFlightSTA">
                </div>
                <div class="col-2">
                  <label for="addFlightEET" class="form-label">EET</label>
                  <input type="time" class="form-control form-control-sm" id="addFlightEET">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray" type="button" data-bs-toggle="collapse"
              data-bs-target="#addFlight-aircraft" aria-expanded="false" aria-controls="addFlight-aircraft">
              Aircraft
            </button>
          </div>
          <div id="addFlight-aircraft" class="accordion-collapse collapse" aria-labelledby="addFlight-aircraft"
            data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">A/C registration</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                              [items]="acRegistrations"
                              bindLabel="F150020_UseRLE"
                              bindValue="F150020_ID"
                              id="acRegistrations"
                              [(ngModel)]="flight.aircraftId"
                              (change)="changeAcRegistration($event)">
                  </ng-select>
                </div>
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">Type</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                              [items]="acTypes"
                              bindLabel="F150040_FabrNm"
                              bindValue="F150040_ID"
                              [(ngModel)]="flight.type"
                              id="acTypes">
                    <ng-template ng-option-tmp let-item="item">
                      {{item.F150040_RegPref}} {{item.F150040_RegNo}}
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      {{item.F150040_RegPref}} {{item.F150040_RegNo}}
                    </ng-template>
                  </ng-select>
                </div>
                <div class="col-4 mb-2">
                  <label class="form-label">Configuration</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['Standard', 'Not standard']"></ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Weight adjust</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['VA-BAT', 'VA-BAY', 'VA-BAM']"></ng-select>
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Empty weight</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Max take-off</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['68000 (kg)', '48000 (kg)']"></ng-select>
                </div>
                <div class="col-3 mb-2">
                  <label class="form-label">Max landing</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">Climb</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['250/300/78', '300/350/82']"></ng-select>
                </div>
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">Cruise</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                              [items]="cruises"
                              bindLabel="LRCM"
                              bindValue="LRCM"
                              [(ngModel)]="flight.cruise"
                              id="cruise">
                  </ng-select>
                </div>
                <div class="col-4 mb-2">
                  <label class="form-label">Descent</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['78/300/250', '82/350/300']"></ng-select>
                </div>
              </div>
              <div class="row">
                <div class="col-3 pe-0">
                  <label class="form-label">Cruise altitude/FL</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['OPT', 'OUT', 'OIU']"></ng-select>
                </div>
                <div class="col-3 pe-0">
                  <label class="form-label">Step climb</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['2.000 ft', '3.000 ft', '4.000 ft']"></ng-select>
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Max altitude/FL</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                              [items]="maxFl"
                              bindLabel="FL"
                              bindValue="FL"
                              [(ngModel)]="flight.maxFl"
                              id="maxFl"
                              name="maxFl">
                  </ng-select>
                </div>
                <div class="col-3 mb-2">
                  <label class="form-label">Optimize altitude/FL</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                              [items]="maxFl"
                              bindLabel="FL"
                              bindValue="FL"
                              [(ngModel)]="flight.fixFL"
                              id="fixFL"
                              name="fixFL">
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray" type="button" data-bs-toggle="collapse"
              data-bs-target="#addFlight-payload" aria-expanded="false" aria-controls="addFlight-payload">
              Payload
            </button>
          </div>
          <div id="addFlight-payload" class="accordion-collapse collapse" aria-labelledby="addFlight-payload"
            data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-3 mb-3 pe-0">
                  <label class="form-label">Adult</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-3 pe-0">
                  <label class="form-label">Children</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-3 pe-0">
                  <label class="form-label">Infan</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-3">
                  <label class="form-label">Pax capacity</label>
                  <input type="number" class="form-control form-control-sm" disabled value="142">
                </div>
              </div>
              <div class="row">
                <div class="col-2 pe-0">
                  <label class="form-label">Baggabe</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="col-2 pe-0">
                  <label class="form-label">Cargo</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="col-2 pe-0">
                  <label class="form-label">Payload</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="col-3 pe-0">
                  <label class="form-label">Zero fuel</label>
                  <input type="number" class="form-control form-control-sm">
                </div>
                <div class="col-3">
                  <label class="form-label">Max zero fuel</label>
                  <input type="number" class="form-control form-control-sm" disabled value="57 000 kg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray" type="button" data-bs-toggle="collapse"
              data-bs-target="#addFlight-fuel" aria-expanded="false" aria-controls="addFlight-fuel">
              Fuel
            </button>
          </div>
          <div id="addFlight-fuel" class="accordion-collapse collapse" aria-labelledby="addFlight-fuel"
            data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Policy</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['ICAO', 'IATA']"></ng-select>
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Extra time</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Extra fuel</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-2">
                  <label class="form-label">Hold time</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Taxi fuel</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Release fuel</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['MIN', 'MAX']"></ng-select>
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Capacity</label>
                  <input type="text" class="form-control form-control-sm" disabled value="18728 kg">
                </div>
                <div class="col-3 mb-2">
                  <label class="form-label">MEL/CDL fuel</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row align-items-end">
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">MEL/CDL %</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-2 pe-0">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input mr-2" type="checkbox" value="">
                      APU
                    </label>
                  </div>
                </div>
                <div class="col-3 mb-2 pe-0">
                  <label class="form-label">Tanker fuel</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3 mb-2">
                  <label class="form-label">Ballast fuel</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col-4 pe-0">
                  <label class="form-label">Contingency time</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-4 pe-0">
                  <label class="form-label">Contingency fuel</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-4">
                  <label class="form-label">Remaining fuel</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray" type="button" data-bs-toggle="collapse"
              data-bs-target="#addFlight-costs" aria-expanded="false" aria-controls="addFlight-costs">
              Costs
            </button>
          </div>
          <div id="addFlight-costs" class="accordion-collapse collapse" aria-labelledby="addFlight-costs"
            data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">Fuel price</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">Fuel units</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['Ton', 'Toy']"></ng-select>
                </div>
                <div class="col-4 mb-2">
                  <label class="form-label">Fixed/Flight Hr</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col-3 pe-0">
                  <label class="form-label">Var/Flight Hr</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3 pe-0">
                  <label class="form-label">Delay/Hr</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3 pe-0">
                  <label class="form-label">Delay from</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-3">
                  <label class="form-label">Delay to</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray" type="button" data-bs-toggle="collapse"
              data-bs-target="#addFlight-route" aria-expanded="false" aria-controls="addFlight-route">
              Route
            </button>
          </div>
          <div id="addFlight-route" class="accordion-collapse collapse" aria-labelledby="addFlight-route"
            data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row">
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">Ident</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select"
                              [items]="routes"
                              bindLabel="F551130_FltName"
                              bindValue="F551070_ArdCode"
                              id="ident"
                              name="ident"
                              (change)="flight.route = $event.F551130_SFLP">
                  </ng-select>
                  <!-- <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['UUDDUWLW-MT', 'UUDDUWLW-MY']"></ng-select> -->
                </div>
                <div class="col-2 mb-2 pe-0">
                  <label class="form-label">Min alt/FL</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-2 mb-2 pe-0">
                  <label class="form-label">Max alt/FN</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-2 mb-2 pe-0">
                  <label class="form-label">Circuit out</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col-2 mb-2">
                  <label class="form-label">Circuit in</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">Great circle dist</label>
                  <input type="text" class="form-control form-control-sm" disabled value="380,1 nm">
                </div>
                <div class="col-4 mb-2 pe-0">
                  <label class="form-label">Flightplan dist</label>
                  <input type="text" class="form-control form-control-sm" disabled value="424,8 nm">
                </div>
                <div class="col-4 mb-2">
                  <label class="form-label">Dist inc</label>
                  <input type="text" class="form-control form-control-sm" disabled value="12.0%">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="form-label">Route</label>
                  <textarea class="form-control form-control-sm" cols="30" rows="10" [(ngModel)]="flight.route">{{flight.route}}</textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed fs-s bg-light-gray" type="button" data-bs-toggle="collapse"
              data-bs-target="#addFlight-alternates" aria-expanded="false" aria-controls="addFlight-alternates">
              Alternates
            </button>
          </div>
          <div id="addFlight-alternates" class="accordion-collapse collapse" aria-labelledby="addFlight-alternates"
            data-bs-parent="#accordionAddFlight">
            <div class="accordion-body">
              <div class="row mb-2">
                <div class="col pe-0">
                  <label class="form-label">Altns required</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['One', 'Two']"></ng-select>
                </div>
                <div class="col pe-0">
                  <label class="form-label">Priority</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['Fuel', 'Two']"></ng-select>
                </div>
                <div class="col pe-0">
                  <label class="form-label">1st alternate</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['Auto', 'Two']"></ng-select>
                </div>
                <div class="col pe-0">
                  <label class="form-label">2nd alternate</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['One', 'Two']"></ng-select>
                </div>
                <div class="col pe-0">
                  <label class="form-label">Take-off alt</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['One', 'Two']"></ng-select>
                </div>
                <div class="col pe-0">
                  <label class="form-label">PNR airport</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['One', 'Two']"></ng-select>
                </div>
                <div class="col">
                  <label class="form-label">PNR hold</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['One', 'Two']"></ng-select>
                </div>
              </div>
              <div class="row mb-2">
                <div class="col pe-0">
                  <label class="form-label">Destination altn</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['UWLL', 'UWWW']"></ng-select>
                </div>
                <div class="col pe-0">
                  <label class="form-label">Runway</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['20', '22']"></ng-select>
                </div>
                <div class="col-3 pe-0">
                  <label class="form-label">Route</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['DW3A DW W4A', 'DW3A DW']"></ng-select>
                </div>
                <div class="col pe-0">
                  <label class="form-label">Altitude/FL</label>
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['OPT', 'OPY']"></ng-select>
                </div>
                <div class="col pe-0">
                  <label class="form-label">Hold time</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col">
                  <label class="form-label">FP distance</label>
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['UWWW', 'UWWW']"></ng-select>
                </div>
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['3', '22']"></ng-select>
                </div>
                <div class="col-3 pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['DCT', 'DW3A DW']"></ng-select>
                </div>
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['OPT', 'OPY']"></ng-select>
                </div>
                <div class="col pe-0">
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col">
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['UWKD', 'UWWW']"></ng-select>
                </div>
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['29', '22']"></ng-select>
                </div>
                <div class="col-3 pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['MOKE3 MOKED', 'DW3A DW']"></ng-select>
                </div>
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['OPT', 'OPY']"></ng-select>
                </div>
                <div class="col pe-0">
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col">
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row mb-2">
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['UWKS', 'UWWW']"></ng-select>
                </div>
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['20', '22']"></ng-select>
                </div>
                <div class="col-3 pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['MOKE3 MOKED', 'DW3A DW']"></ng-select>
                </div>
                <div class="col pe-0">
                  <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['OPT', 'OPY']"></ng-select>
                </div>
                <div class="col pe-0">
                  <input type="text" class="form-control form-control-sm">
                </div>
                <div class="col">
                  <input type="text" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <label class="form-label">Adequate airports</label>
                  <textarea class="form-control form-control-sm" cols="30" rows="10">
UUDD UWGG UWLL UWLW
                  </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="activeWindow === 'computeFlight'" class="h-100">
      <div class="d-flex mb-3">
        <div class="input-group input-group-sm me-3">
          <span class="input-group-text">Document release </span>
          <ng-select class="form-control form-control-sm custom-sm p-0 ng-select" [items]="['1', '2']"></ng-select>
        </div>
        <div class="input-group input-group-sm me-3">
          <span class="input-group-text">Date</span>
          <input class="form-control" disabled value="24.06.2022 20:50" />
        </div>
        <div class="input-group input-group-sm">
          <span class="input-group-text">User</span>
          <input class="form-control" disabled value="Ivanov Ivan Ivanovich" />
        </div>
      </div>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active"
                  id="summary-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#summary"
                  type="button" role="tab"
                  aria-controls="summary"
                  aria-selected="true">
            Summary
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"
                  id="ofp-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#ofp"
                  type="button"
                  role="tab"
                  aria-controls="ofp"
                  aria-selected="false">
            OFP
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"
                  id="atc-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#atc"
                  type="button"
                  role="tab"
                  aria-controls="atc"
                  aria-selected="false">
            ATC
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"
                  id="weather-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#weather"
                  type="button"
                  role="tab"
                  aria-controls="weather"
                  aria-selected="false">
            Weather
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"
                  id="notams-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#notams"
                  type="button"
                  role="tab"
                  aria-controls="notams"
                  aria-selected="false">
            Notams
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link"
                  id="charts-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#charts"
                  type="button"
                  role="tab"
                  aria-controls="charts"
                  aria-selected="false">
            Charts
          </button>
        </li>
      </ul>
      <div class="tab-content pt-3" style="height: calc(100% - 80px);" id="myTabContent">
        <div class="tab-pane fade show active" id="summary" role="tabpanel" aria-labelledby="summary-tab">
          <!-- <div class="row">
            <div class="col-xl-6">
              <table class="table table-hover table-bordered">
                <thead class="bg-light-gray">
                  <tr>
                    <th>Fuel planning (kg)</th>
                    <th>ICAO</th>
                    <th>Fuel</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>TRIP</td>
                    <td></td>
                    <td>2 682</td>
                    <td>01:06</td>
                  </tr>
                  <tr>
                    <td>CONT 5%</td>
                    <td></td>
                    <td>178</td>
                    <td>00:05</td>
                  </tr>
                  <tr>
                    <td>ALTN</td>
                    <td>UWLL</td>
                    <td>970</td>
                    <td>00:22</td>
                  </tr>
                  <tr>
                    <td>FINAL RESV</td>
                    <td></td>
                    <td>1 065</td>
                    <td>00:30</td>
                  </tr>
                  <tr>
                    <td>MIN T/O</td>
                    <td></td>
                    <td>4 985</td>
                    <td>02:03</td>
                  </tr>
                  <tr>
                    <td>TAXI</td>
                    <td></td>
                    <td>100</td>
                    <td>00:10</td>
                  </tr>
                  <tr>
                    <td>RELEASE</td>
                    <td>UUDD</td>
                    <td>4 995</td>
                    <td>02:13</td>
                  </tr>
                  <tr>
                    <td>ARR FUEL</td>
                    <td>UWLW</td>
                    <td>2 163</td>
                    <td>00:52</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xl-6">
              <table class="table table-hover table-bordered">
                <thead class="bg-light-gray">
                  <tr>
                    <th>Load planning (kg)</th>
                    <th>VA-BAT</th>
                    <th>Plan</th>
                    <th>Limit</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Empty weight</td>
                    <td></td>
                    <td>41 600</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>Payload</td>
                    <td>65+1 Pax</td>
                    <td>12 618</td>
                    <td></td>
                  </tr>
                  <tr class="bg-green text-white">
                    <td>Zero fuel weight</td>
                    <td>Limit</td>
                    <td>54 218</td>
                    <td>57 000</td>
                  </tr>
                  <tr>
                    <td>Fuel</td>
                    <td></td>
                    <td>4 995</td>
                    <td>18 728</td>
                  </tr>
                  <tr>
                    <td>Ramp weight</td>
                    <td></td>
                    <td>59 213</td>
                    <td>68 400</td>
                  </tr>
                  <tr>
                    <td>Take-off weight</td>
                    <td>UUDD</td>
                    <td>59 113</td>
                    <td>68 000</td>
                  </tr>
                  <tr>
                    <td>Landing weight UWLW</td>
                    <td>UWLW</td>
                    <td>56 431</td>
                    <td>61 000</td>
                  </tr>
                  <tr class="bg-green text-white">
                    <td>Underload</td>
                    <td></td>
                    <td>2 782</td>
                    <td>Lim ZFW</td>
                  </tr>
                  <tr>
                    <td>Max ectra fuel</td>
                    <td></td>
                    <td>4 569</td>
                    <td>Lim LDW</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div> -->
          <table class="table table-hover table-bordered">
            <thead class="bg-light-gray">
              <tr>
                <th>PntMark</th>
                <th>GSP</th>
                <th>LRCM</th>
                <th>M</th>
                <th>Npp</th>
                <th>Such</th>
                <th>TAS</th>
                <th>Tc</th>
                <th>Tnar</th>
                <th>Tuch</th>
                <th>WU</th>
                <th>WW</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of calculateData">
                <td>{{ item.PntMark }}</td>
                <td>{{ item.GSP }}</td>
                <td>{{ item.LRCM }}</td>
                <td>{{ item.M }}</td>
                <td>{{ item.Npp }}</td>
                <td>{{ item.Such }}</td>
                <td>{{ item.TAS }}</td>
                <td>{{ item.Tc }}</td>
                <td>{{ item.Tnar }}</td>
                <td>{{ item.Tuch }}</td>
                <td>{{ item.WU }}</td>
                <td>{{ item.WW }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade h-100" id="ofp" role="tabpanel" aria-labelledby="ofp-tab">
          <textarea class="w-100 p-2 border text-monospace fs-xs h-100" readonly>
RLS  2 VA-BAT 07MAR  UUDD/DME    UWLW/ULY                  ELEVATION      253
ATS C/S PLK1243        2320/2330   0041/0036                 CALC     08MAR 2009

CTOT ....         ATC ...../..... ..../.....                 DIST 425 GCD   380
                                                             SPEED           LRC
                                                             AVGE FD         425
       LOAD    ZFW                LM     TOM                 AVGE WC           0
EST   12618   54218      MAL   61000   68000
PLN   12618   54218      PLN   56431   59113

ACT  ......  ......      ACT  ......  ......

FLIGHT PLAN ROUTE
K0829F370 WT32D SF R480 GAMDI B817 BT R346 GOTUN GOTUN4

--------------------------------------------------------------------------------
ATIS DEP

--------------------------------------------------------------------------------
CLEARANCE

--------------------------------------------------------------------------------
DEP: UUDD/DME 32R

AWY      WAYPOINT   MT    ALT  WND/VEL   TAS   REM  FUEL REM / USED   LEG   ACC
         NAME             TMP     FREQ    GS  DIST  POSITION          ETO / ATO
--------------------------------------------------------------------------------
         UUDD/32R     594                          4.9 /   0.1
         DOMODEDOVO                          425  N5523.7 E03756.5 ...../.....

WT32D    WT        324*CLB     000/000          13       4.5 /   0.5 :04   00:04
         KARTINO              121.50         412  N5535.3 E03747.2 ...../.....

WT32D    GEKLA     026*CLB     000/000           5       4.4 /   0.6 :01   00:05
                                             407  N5539.0 E03752.1 ...../.....

WT32D    DAKLO     082*CLB     000/000          26       4.1 /   0.9 :04   00:09
                                             381  N5537.0 E03837.9 ...../.....

WT32D    SF        083*CLB     000/000          47       3.7 /   1.3 :06   00:15
         CHERUSTI             410.0          335  N5532.9 E03959.8 ...../.....

          </textarea>
        </div>
        <div class="tab-pane fade h-100" id="atc" role="tabpanel" aria-labelledby="atc-tab">
          <textarea class="w-100 p-2 border text-monospace fs-xs h-100" readonly>
(FPL-PLK1243-IS
-A319/M-SDE1FGHIJ1RWXYZ/LB1
-UUDD2320
-K0829F370 WT32D SF R480 GAMDI B817 BT R346 GOTUN GOTUN4
-UWLW0106 UWLL
-PBN/A1B1C1D1L1O1S1 NAV/RNVD1E2A1 DOF/220307 REG/VABAT
 EET/UWWW0047 RVR/75 PER/C
-E/0203)
          </textarea>
        </div>
        <div class="tab-pane fade h-100" id="weather" role="tabpanel" aria-labelledby="weather-tab">
          <textarea class="w-100 p-2 border text-monospace fs-xs h-100" readonly>
┌──────────────────────────────────────────────────────────────────────────────┐
│ORIGIN: UUDD/DME (DOMODEDOVO, RUSSIAN FEDERATION)                   UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 NO WX DATA AVAILABLE

--------------------------------------------------------------------------------
┌──────────────────────────────────────────────────────────────────────────────┐
│DESTINATION: UWLW/ULY (VOSTOCHNY, RUSSIAN FEDERATION)               UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 NO WX DATA AVAILABLE

 --------------------------------------------------------------------------------
┌──────────────────────────────────────────────────────────────────────────────┐
│ALTERNATE: UWLL/ULV (BARATAYEVKA, RUSSIAN FEDERATION)               UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 NO WX DATA AVAILABLE

 --------------------------------------------------------------------------------
┌──────────────────────────────────────────────────────────────────────────────┐
│ALTERNATE: UWWW/KUF (KURUMOCH, RUSSIAN FEDERATION)                  UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 NO WX DATA AVAILABLE

 --------------------------------------------------------------------------------
┌──────────────────────────────────────────────────────────────────────────────┐
│ALTERNATE: UWKD/KZN (KAZAN, RUSSIAN FEDERATION)                     UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 NO WX DATA AVAILABLE

 --------------------------------------------------------------------------------
┌──────────────────────────────────────────────────────────────────────────────┐
│ALTERNATE: UWKS/CSY (CHEBOKSARY, RUSSIAN FEDERATION)                UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 NO WX DATA AVAILABLE
          </textarea>
        </div>
        <div class="tab-pane fade h-100" id="notams" role="tabpanel" aria-labelledby="notams-tab">
          <textarea class="w-100 p-2 border text-monospace fs-xs h-100" readonly>
┌──────────────────────────────────────────────────────────────────────────────┐
│ORIGIN: UUDD/DME (DOMODEDOVO, RUSSIAN FEDERATION)                   UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 WARNING: CAN'T RETRIEVE NOTAMS

____________________________________________________________________________________
┌──────────────────────────────────────────────────────────────────────────────┐
│DESTINATION: UWLW/ULY (VOSTOCHNY, RUSSIAN FEDERATION)               UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 WARNING: CAN'T RETRIEVE NOTAMS

____________________________________________________________________________________
┌──────────────────────────────────────────────────────────────────────────────┐
│ALTERNATE: UWLL/ULV (BARATAYEVKA, RUSSIAN FEDERATION)               UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 WARNING: CAN'T RETRIEVE NOTAMS

____________________________________________________________________________________
┌──────────────────────────────────────────────────────────────────────────────┐
│UWWW (SAMARA FIR/UIR)                                                         │
└──────────────────────────────────────────────────────────────────────────────┘
 WARNING: CAN'T RETRIEVE NOTAMS

____________________________________________________________________________________
┌──────────────────────────────────────────────────────────────────────────────┐
│ALTERNATE: UWKD/KZN (KAZAN, RUSSIAN FEDERATION)                     UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 WARNING: CAN'T RETRIEVE NOTAMS

____________________________________________________________________________________
┌──────────────────────────────────────────────────────────────────────────────┐
│ALTERNATE: UWKS/CSY (CHEBOKSARY, RUSSIAN FEDERATION)                UTC +04:00│
└──────────────────────────────────────────────────────────────────────────────┘
 WARNING: CAN'T RETRIEVE NOTAMS

          </textarea>
        </div>
        <div class="tab-pane fade h-100" id="charts" role="tabpanel" aria-labelledby="charts-tab">
          <div class="btn-group mb-3 w-100" role="group">
            <input type="radio"
                  (click)="displayedChart = 'verticalProfile'"
                  [checked]="displayedChart === 'verticalProfile'"
                  [value]="'verticalProfile'"
                  class="btn-check"
                  id="chartVerticalProfile"
                  autocomplete="off">
            <label class="btn btn-outline-success" for="chartVerticalProfile">Vertical profile</label>

            <input type="radio"
                  (click)="displayedChart = 'route'"
                  [checked]="displayedChart === 'route'"
                  [value]="'route'"
                  class="btn-check"
                  id="chartRoute"
                  autocomplete="off">
            <label class="btn btn-outline-success" for="chartRoute">Route</label>

            <input type="radio"
                  (click)="displayedChart = 'windFL330'"
                  [checked]="displayedChart === 'windFL330'"
                  [value]="'windFL330'"
                  class="btn-check"
                  id="chartWindFL330"
                  autocomplete="off">
            <label class="btn btn-outline-success" for="chartWindFL330">Wind FL330</label>

            <input type="radio"
                  (click)="displayedChart = 'windFL370'"
                  [checked]="displayedChart === 'windFL370'"
                  [value]="'windFL370'"
                  class="btn-check"
                  id="chartWindFL370"
                  autocomplete="off">
            <label class="btn btn-outline-success" for="chartWindFL370">Wind FL370</label>

            <input type="radio"
                  (click)="displayedChart = 'windFL410'"
                  [checked]="displayedChart === 'windFL410'"
                  [value]="'windFL410'"
                  class="btn-check"
                  id="chartWindFL410"
                  autocomplete="off">
            <label class="btn btn-outline-success" for="chartWindFL410">Wind FL410</label>

            <input type="radio"
                  (click)="displayedChart = 'destinationArea'"
                  [checked]="displayedChart === 'destinationArea'"
                  [value]="'destinationArea'"
                  class="btn-check"
                  id="chartDestinationArea"
                  autocomplete="off">
            <label class="btn btn-outline-success" for="chartDestinationArea">Destination area</label>
          </div>
          <ng-container *ngIf="displayedChart === 'verticalProfile'">
            <div class="text-center">
              <img src="../../../assets/images/verticalProfile.png" alt="">
              <button class="btn btn-light-gray btn-outline-secondary btn-ico mt-3">
                <span class="material-icons">launch</span>
                <span>Open full screen</span>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="displayedChart === 'route'">
            <div class="text-center">
              <img src="../../../assets/images/route.png" alt="">
              <button class="btn btn-light-gray btn-outline-secondary btn-ico mt-3">
                <span class="material-icons">launch</span>
                <span>Open full screen</span>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="displayedChart === 'windFL330'">
            <div class="text-center">
              <img src="../../../assets/images/windFL330.png" alt="">
              <button class="btn btn-light-gray btn-outline-secondary btn-ico mt-3">
                <span class="material-icons">launch</span>
                <span>Open full screen</span>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="displayedChart === 'windFL370'">
            <div class="text-center">
              <img src="../../../assets/images/windFL370.png" alt="">
              <button class="btn btn-light-gray btn-outline-secondary btn-ico mt-3">
                <span class="material-icons">launch</span>
                <span>Open full screen</span>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="displayedChart === 'windFL410'">
            <div class="text-center">
              <img src="../../../assets/images/windFL410.png" alt="">
              <button class="btn btn-light-gray btn-outline-secondary btn-ico mt-3">
                <span class="material-icons">launch</span>
                <span>Open full screen</span>
              </button>
            </div>
          </ng-container>
          <ng-container *ngIf="displayedChart === 'destinationArea'">
            <div class="text-center">
              <img src="../../../assets/images/destinationArea.png" alt="">
              <button class="btn btn-light-gray btn-outline-secondary btn-ico mt-3">
                <span class="material-icons">launch</span>
                <span>Open full screen</span>
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
  <aside [ngClass]="{'opened': sidebarOpened, 'closed': !sidebarOpened}" class="bg-light-gray border-start right-aside">
    <div class="p-2" [ngClass]="{'d-none': sidebarOpened}">
      <button class="btn btn-light-gray btn-outline-secondary btn-ico mb-2">
        <i class="material-icons">map</i>
      </button>
      <button class="btn btn-light-gray btn-outline-secondary btn-ico">
        <i class="material-icons">flag</i>
      </button>
    </div>
    <div class="aside-content">
      <ng-container *ngIf="asideType === 'worldMap'">
        <iframe width="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
          src="https://www.openstreetmap.org/export/embed.html?bbox=39.808230400085456%2C50.04672274280479%2C39.882903099060066%2C50.07868011286856&amp;layer=mapnik">
        </iframe>
      </ng-container>
      <ng-container *ngIf="asideType === 'weatherNotam'"></ng-container>
      <ng-container *ngIf="asideType === 'track'"></ng-container>
    </div>
    <div class="p-2">
      <div class="btn-group" role="group" [ngClass]="{'d-none': !sidebarOpened}">
        <input type="radio" (click)="asideType = 'worldMap'" [checked]="asideType === 'worldMap'" [value]="'worldMap'"
          class="btn-check" id="worldMap" autocomplete="off">
        <label class="btn btn-outline-success" for="worldMap">World map</label>

        <input type="radio" (click)="asideType = 'weatherNotam'" [checked]="asideType === 'weatherNotam'"
          [value]="'weatherNotam'" class="btn-check" id="weatherNotam" autocomplete="off">
        <label class="btn btn-outline-success" for="weatherNotam">Weather & Notam</label>

        <input type="radio" (click)="asideType = 'track'" [checked]="asideType === 'track'" [value]="'track'"
          class="btn-check" id="track" autocomplete="off">
        <label class="btn btn-outline-success" for="track">Track</label>

        <input type="radio" (click)="asideType = 'note'" [checked]="asideType === 'note'" [value]="'note'"
          class="btn-check" id="note" autocomplete="off">
        <label class="btn btn-outline-success" for="note">Note</label>
      </div>
      <button class="aside-open-btn right" [ngClass]="{'rotate-180': sidebarOpened}"
        (click)="sidebarOpened = !sidebarOpened">
        <i class="material-icons">keyboard_arrow_left</i>
      </button>
    </div>
  </aside>
</section>
