/* Colors */
$color-white: #ffffff;
$color-light-gray: #f1f1f1;
$color-medium-gray: #e5e5e5;
$color-hight-gray: #c4c4c4;
$color-gray: #dcdcdc;
$color-dark-gray: #5c5c5c;
$color-black: #313131;
$color-light-blue: #2b99d2;
$color-blue: #1f688e;
$color-dark-blue: #2e3553;
$color-gray-blue-light: #ccd2e3;
$color-gray-blue: #a4a9b7;
$color-gray-blue-dark: #767f95;
$color-pink: #ee3d3d;
$color-red: #c51b1b;
$color-light-yellow: #eaebcb;
$color-yellow: #efa91d;
$color-green: #5b9b5d;
$color-border-td: #e3e5ea;
$color-border-th: #828a9e;

/* Font-size */
$font-extra-small: 12px;
$font-small: 14px;
$font-medium: 16px;
$font-large: 19px;