@import '_variables';
@import '~material-design-icons/iconfont/material-icons.css';
@import "~@monitorsoft/als-ui/als-ui";
/* Roboto-mono monospace */
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Mono'),
       url('assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: bold;
  src: local('Roboto Mono Bold'),
       url('assets/fonts/Roboto_Mono/RobotoMono-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: normal;
  src: local('Roboto Mono Itilic'),
       url('assets/fonts/Roboto_Mono/RobotoMono-Italic.ttf') format('truetype')
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: italic;
  font-weight: bold;
  src: local('Roboto Mono Itilic'),
       url('assets/fonts/Roboto_Mono/RobotoMono-BoldItalic.ttf') format('truetype')
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

img {
  max-width: 100%;
}

.text-dark {
  color: $color-black;
}

.text-green {
  color: $color-green;
}

.text-blue {
  color: $color-blue;
}

.text-dark-light {
  color: $color-gray;
}

.text-dark-gray {
  color: $color-dark-gray;
}

.text-hight-gray {
  color: $color-hight-gray;
}

.text-light-blue {
  color: $color-light-blue;
}

.text-gray-blue-dark {
  color: $color-gray-blue-dark
}

.text-gray {
  color: $color-medium-gray;
}

.text-red {
  color: $color-red;
}

.text-white {
  color: $color-white;
}

.text-yellow {
  color: $color-yellow;
}

.fs-xs {
  font-size: $font-extra-small;
}

.fs-s {
  font-size: $font-small;
}

.bg-none {
  background-color: transparent !important;
}

.bg-white {
  background-color: $color-white !important;
}

.bg-blue {
  background-color: $color-blue !important;
}

.bg-light-gray {
  background-color: $color-light-gray !important;
}

.bg-medium-gray {
  background-color: $color-medium-gray !important;
}

.bg-gray {
  background-color: $color-gray !important;
}

.bg-dark-gray {
  background-color: $color-dark-gray !important;
}

.bg-hight-gray {
  background-color: $color-hight-gray !important;
}

.bg-gray-blue-dark {
  background-color: $color-gray-blue-dark !important;
}

.bg-red {
  background-color: $color-red !important;
}

.bg-green {
  background-color: $color-green !important;
}

.bg-yellow {
  background-color: $color-yellow !important;
}

.bg-light-yellow {
  background-color: $color-light-yellow !important;
}

.btn-light-gray {
  background: $color-light-gray;
}

.btn-hight-gray {
  background: $color-hight-gray;
}

.btn-outline-secondary {
  border-color: $color-hight-gray;
}

.btn-outline-secondary {
  border-color: $color-hight-gray;
}

.btn-ico {
  display: inline-flex;
  align-items: center;

  .material-icons {
    margin-right: 5px;
  }
}

app-root {
  display: flex;
}

.aside-open-btn {
  width: 45px;
  height: 31px;
  background: #e5e5e5;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  &.left {
    position: absolute;
    bottom: 14px;
    left: 14px;
  }

  &.right {
    position: absolute;
    bottom: 14px;
    right: 14px;
  }

  &.rotate-180 {
    transform: rotate(180deg);
  }
}

.btn {
  height: 31px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

// для кнопки-стрелки в выпадающих
.btn.btn-xxs {
  min-width: 35px;
  height: 35px;
}

.btn-sm {
  font-size: 14px;
  height: 35px;
  min-width: 104px;
}

.btn-lg {
  font-size: 19px;
  height: 47px;
  min-width: 145px;
}

.btn-light {
  color: $color-black;
  background-color: $color-white;
  border-color: $color-gray-blue;
}

.btn-light-gray {
  background-color: $color-light-gray;
  color: #5c5c5c;
  border: 1px solid $color-hight-gray;

  &[disabled] {
    background: $color-light-gray !important;
    color: $color-gray !important;
    opacity: 1;
    cursor: no-drop;

    i {
      color: $color-gray !important;
    }

  }
}

.btn-dark-gray {
  background-color: $color-medium-gray;
  color: #5c5c5c;

  &[disabled] {
    background: $color-light-gray !important;
    color: $color-gray !important;
    opacity: 1;
    cursor: no-drop;

    i {
      color: $color-gray !important;
    }

  }
}

.btn-light:hover {
  color: $color-white;
  background-color: $color-black;
}

.btn-dark {
  color: $color-white;
  background-color: $color-black;
  border-color: $color-black;

  &:hover {
    color: $color-white;
  }
}

.btn-medium-gray {
  background-color: $color-medium-gray;
  border: 1px solid #C4C4C4;
}

.btn-red {
  color: $color-white;
  background-color: $color-red;
  border-color: $color-red;

  &:hover {
    color: $color-white;

    i {
      color: $color-white;
    }
  }

  i {
    color: $color-white;
  }
}

.btn-green {
  color: $color-white;
  background-color: $color-green;
  border-color: $color-green;

  &:hover {
    color: $color-white;

    i {
      color: $color-white;
    }
  }

  i {
    color: $color-white;
  }
}

.btn-blue {
  color: $color-white;
  background-color: $color-blue;
  border-color: $color-blue;

  &:hover {
    color: $color-white;

    i {
      color: $color-white;
    }
  }

  i {
    color: $color-white;
  }
}

.btn-yellow {
  color: $color-white;
  background-color: $color-yellow;
  border-color: $color-yellow;

  &:hover {
    color: $color-white;
  }
}

.btn-gray-blue-dark {
  background-color: $color-gray-blue-dark;
  color: $color-white;

  &:hover {
    color: $color-white;
  }
}

.filter-block-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 31px;
  width: calc(100% - 58px);
  position: relative;
  background-color: $color-white;
  border: 1px solid $color-hight-gray;
  border-radius: 3px;

  &.disabled {
    background: #f1f1f1;

    .input-group-text,
    i {
      color: $color-gray !important;
    }
  }
}

.filter-element {
  background: #ebf5ff;
  font-size: 14px;
  line-height: 1;
  display: flex;
  align-items: center;
  padding: 0 5px 0 0;
  color: $color-black;
  border-radius: 5px;
  overflow: hidden;

  i {
    background: #ebf5ff;
    border-right: 1px solid #b8dbff;
    font-size: 18px;
    line-height: 24px;
    cursor: pointer;
  }

  span {
    margin-left: 5px;

    &.del {
      text-decoration: line-through;
    }
  }
}

.filter-block {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  z-index: 100;
  outline: 1px solid #dcdcdc;
}

.select {
  position: relative;
}

.filter-group {
  display: flex;
  justify-content: space-between;
  align-items: center;

  label {
    min-width: 95px;
  }
}

.input-group-sm ng-select, ng-select.form-control-sm {
  height: 31px;
  min-height: 31px;
  width: 100%;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;

  &.ng-select-single {
    height: 31px;
    min-height: 31px;

    .ng-select-container {
      background-color: transparent;
      height: 29px;
      min-height: 29px;
      border: none;
    }
  }

  .ng-select-container {
    background-color: transparent;
    height: 29px;
    min-height: 29px;
    border: none;
  }
}

// Набор стилий для ng-select
ng-select {
  border: none;
  
  &.custom {
    border: none;
    min-height: 38px;
    height: 38px;
  }

  .ng-select-container {
    background-color: transparent;
    min-height: 38px;
    height: 38px;
  }

  &.ng-select-disabled {
    background: $color-light-gray;
  }

}

.card-title {
  color: $color-blue;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.text-monospace {
  font-family: 'Roboto Mono', monospace !important;
  font-style: normal;
  font-weight: normal;
}

.nav-tabs .nav-link {
  color: $color-dark-gray;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  font-weight: bold;
}